<%- include('partials/header') %>


    <form action="/edit/<%= noteId %>" method="POST" >
        <div class="mb-3">
            <label for="exampleInputText1" class="form-label">Title</label>
            <input type="text" value="<%= title %>" class="form-control" id="exampleInputText1" aria-describedby="emailHelp" name="title">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Content</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"><%= content %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>


<%- include('partials/footer') %>